* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: #2B807B;
    text-align: center;
}


.centrar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    height: 220px;
    width: 450px;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;  
}

#color {
    font-size: 70px;
    font-weight: bold;
}

button {
    font-size: 30px;
    color: white;
    border-radius: 10px;
    background-color: #212120;
    margin: 25px;
    padding: 5 12px;
    border: 2px solid #020202;
    user-select: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(13, 94, 181);
    
   
}